$primary-button-color: #00afdb;
$additional-button-color: #009cc2;
$addition-background-color: #f5f6f7;
$icon-color: #009cc2;
$hover-color: #009cc2;
$header-color: #000000;
$footer-color: #000000;
$background-color: #ffffff;
$text-color: #ffffff;
$additional-text-color: #4e4e4e;
$additional-heading-color: #373737;
$links-color: #ffffff;
$heading-color: #000000;
$base-font-size: 10px;
$content-width: 1600px;
$max-width: 1600px;
$base-font-family: 'Roboto', Verdana, sans-serif;
