.rappresent {
  padding: 12rem 27rem 14rem 26.8rem;
}

.rappresent__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $background-color;
}

.rappresent__content {
  padding-right: 24.8rem;
}