.download {
  background-color: $addition-background-color;
}

.download__buttons {
  display: flex;
}

.download__buttons > .download-button__group{
  margin-left: 3rem;
}

.download-button__rectangle {
  background: $additional-button-color;
}

.download-button__group {
  display: flex;
}