.sign-up {
  background: url(/webdev/assets/backgrounds/sign_up_bg.png);
}

.sign-up__heading {
  color: $text-color;
  text-transform: uppercase;
  padding-bottom: 3rem;
  letter-spacing: 0.1rem;
}

.sign-up__button {
  background-color: $primary-button-color;
  width: 6.6rem;
  height: 4.6rem;
}
.sign-up__button:hover {
  background: $additional-button-color;
}
.sign-up__wrapper {
  text-align: center;
  padding: 20rem 59.7rem 22rem 59.7rem;
}

.sign-up__input {
  display: flex;
}

.sign-up__input input[name='email'] {
  width: 34rem;
  height: 4.6rem;
  border: 0;
  text-indent : 2.3rem;
}
