.sign-up {
  background-image: url(/webdev/assets/backgrounds/sign_up_bg.png);
}

.sign-up__heading {
  color: $text-color;
}

.sign-up__check{
  background-image: url(/webdev/assets/icons/fa-check.svg);
  background-color: $primary-button-color;

}
.sign-up__check:hover{
  background: $additional-button-color;
}