.your-life {
  background-image: url(/webdev/assets/backgrounds/main_screen_bg.png);
}

.socials {
  display: flex;
}

.socials__link {
  list-style: none;
  padding: 18.3rem 3rem 8.9rem 0;
  cursor: pointer;
}