button {
  background: $primary-button-color;
  font-family: $base-font-family;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: $text-color;
  border: 0;
  padding: 0;
  cursor: pointer;
  transition: all 0.3s;
  text-transform: uppercase;
}
input {
  padding: 0;
}

button:hover {
  background: $additional-button-color;
}
